################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MagicCardboardBox/Libraries/SparkFun_AS726X/1.0.4/SparkFun_AS726X
/MagicCardboardBox/Debug
